---

import PageLayout from "@/layouts/Base.astro";


const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">Email para contato:</h1><br>
		<p>
			contatovomitario@gmail.com
		</p>
		
	</div>
</PageLayout>
