---

import PageLayout from "@/layouts/Base.astro";


const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "Testeee kk",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">Pega no meu pau</h1><br>
		<p>
			KKKKKkk VSF
		</p>
		
	</div>
</PageLayout>
