---

import PageLayout from "@/layouts/Base.astro";


const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "Sobre o Vomitório",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">Sobre o Vomitório</h1><br>
		<p>
			Então você pensa que a individualidade do autor importa? Meus pêsames... mas vamos lá.
			<br><br>

			Meu nome é Dom Carniça e nasci entre 1900 e 1930. Sou antes de tudo um escritor, mas me aventuro no mundo do game dev como hobby.
			<br><br>

			Minhas influências são infindas, mas algumas das que cabem citar são Edgar Allan Poe, 
			Augusto dos Anjos, Machado de Assis, Necrophagist, Cannibal Corpse, Koji Kondo, Joe Hisaishi, 
			Kan Otawa, Ichiko Aoba, The Residents, Shigeru Miyamoto, Ari Aster, Lars Von Trier, Antonio Vivaldi, 
			Erik Satie e Rogério Skylab.
			<br><br>

			Perceba que na minha lista de influências misturam-se artistas de vários gêneros. Isto se dá porque 
			eu acredito na arte como uma unidade autossuficiente que transborda qualquer tipo de tentativa de
			classificação. A arte é a soma de todas as experiências sensoriais, espirituais, corporais e psicológicas
			que um sujeito tem ao longo de sua vida. Assim, toda forma de manifestação artística do pensamento está fatalmente 
			contaminanda pelo miasma que circunda o ser. Perceba também que nenhum dos artistas desta lista está vivo. 
			São todos cadáveres, como eu. Apodreceram há muito, mas sua fedentina ainda hoje encanta os espíritos 
			daqueles que sabem apreciar uma boa carniça.
		</p>
		
	</div>
</PageLayout>
